.wrapper {
    padding: 1rem;
    width: 100%;
    max-width: 420px;
    height: 400px;
    margin: auto;
    border-radius: 16px;
    /*background: #0f0f14;*/
    /*border: 1px dashed #2a2a35;*/
    background: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 2;
}

.originalImage {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 0;
}


.upload {
    background: none;
    border: none;
    color: #a1a1ff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.topActions {
    display: flex;
    justify-content: space-between;
    color: var(--cl-fio);
}

.topActions button,
.bottomAction button {
    z-index: 4;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: var(--cl-fio);
    color: #fff;
    backdrop-filter: blur(6px);
}

.bottomAction {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.processingOverlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.25);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    gap: 12px;
}

.scan {
    position: absolute;
    top: -40%;
    width: 120%;
    height: 40%;
    background: linear-gradient(
            to bottom,
            transparent,
            rgba(255, 255, 255, 0.35),
            transparent
    );
    animation: scanMove 1.6s infinite;
}
.whiteBg {
    position: absolute;
    inset: 0;
    background: white;
    z-index: 1;
    transition: width 2s ease-in;
}

@keyframes scanMove {
    0% {
        top: -40%;
    }
    100% {
        top: 120%;
    }
}

