

.mileageButtons {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.5rem;
    align-items: center;
}

.mileageButtons button {
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    border: 1px solid var(--text-texas-blue);
    background: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--text-texas-blue);
}

.label {
    font-weight: 600;
    font-size: var(--fs-h3);
    color: var(--cl-h3);
    margin-bottom: 0.5rem;
    display: block;
}


.mileageButtons button:hover {
    color: white;
    background: var(--text-texas-blue);
    box-shadow: 0 5px 10px rgba(59, 130, 246, 0.1);
}

.mileageButtons .selected {
    background: var(--text-texas-blue);
    color: white;
}

.customMileage {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 700px) {
    .mileageButtons {
        margin-bottom: 1rem;
    }
    .mileageButtons button {
        padding: 0.8rem;
    }

}