.main {
    padding: 2rem;
    width: 400px;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.qrBox {
    width: 300px;
    height: 24vh;
    background: #fff;
    border: 2px dashed #d1d5db;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.qrIcon {
    color: #9ca3af;
    font-size: 1.5rem;
}

.accessNumber {
    background: #fff;
    border: 2px dashed #d1d5db;
    border-radius: 0.75rem;
    padding: 1rem;
    white-space: nowrap;
    margin-top: 0.5rem;
    width: 100%;
}

.accessLabel {
    font-size: 0.75rem;
    color: #d1d5db;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    white-space: nowrap;
}

.accessValue {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: monospace;
    color: #d1d5db;
}

.actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.primaryBtn {
    width: 100%;
    background: #2563eb;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.primaryBtn:hover {
    background: #1d4ed8;
}

.secondaryBtn {
    width: 100%;
    background: #f3f4f6;
    color: #374151;
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.secondaryBtn:hover {
    background: #e5e7eb;
}


.openButton {
    background-color: #1c7ed6;
    transition: all 0.2s ease-in-out;
}

.openButton:hover {
    background-color: #1971c2;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #1c1c1c;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
}

.input {
    width: 100%;
}

.submitButton {
    background-color: #37b24d;
    transition: all 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: #2f9e44;
}


@media (max-width: 700px) {
    .main {
      width: 100%;
    }
    .cardContent {
        flex-direction: row;
    }

    .qrBox {
        width: 100%;
    }

    .accessValue {
        font-size: 1rem;
    }
}
