:root {
  --background: #f9fafb;
  --foreground: #171717;

  --cl-gray-light: #ccc8c8;
  --cl-text: #525252;
  --texas-blue: #003366;
  --text-texas-blue: rgba(59, 130, 246, 0.94);
  --texas-red: #c8102e;



  --cl-primary: hsl(353, 100%, 65%);
  --cl-secondary: hsl(43, 100%, 68%);
  --cl-fio: #6c6ce5;

  --shadow: 0 6px 18px rgba(0, 0, 0, .06);
  --radius: 2rem;


  --fs-h3: 1.125rem;
}

@media (max-width: 700px) {
  :root {
    --fs-h3: 0.9rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  background-color: white;
  color: black;
  font-size: 16px !important;
}

#crisp-chatbox .cc-1kr6o .cc-18ov6 {
  right: 1rem !important;
  bottom: 1rem !important;
}

/*report*/
.name-in-lights-snackbar{
  display: none !important;
}

.header-hat{
  display: none !important;
}

#top-bar {
  display: none !important;
}

#banner-and-header-spacing-wrapper {
  display: none !important;
}

#vehicle-history-report {
  max-width: 100vw !important;
  padding: 0 !important;
}

.vhr-tabs {
  max-width: 100% !important;
}

main {
  max-width: 100%;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 700px) {
  #crisp-chatbox .cc-1kr6o .cc-18ov6 {
    bottom: 6rem !important;
  }
}
