.header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    padding: 0 1rem;
    background: none;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: width 0.2s ease;
}

.bg.active {
    width: 5%;
}

.bg.active.open {
    justify-content: right;
    width: 50%;
    padding-right: 1rem;
}

.container {
    max-width: 80rem; /* ~1280px */
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.brand {
    display: flex;
    align-items: center;
}

.iconBox {
    padding: 0.5rem;
    margin-right: 0.75rem;
    background-color: #0ea5e9; /* soft-blue-500 */
    border-radius: 0.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111827; /* text-gray-900 */
}

.nav {
    z-index: 11;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.link {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-weight: 600;
    color: var(--cl-text);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link:hover {
    color: rgba(211, 209, 209, 0.27);
}

.name {
    font-family:
        "Poppins", "Montserrat", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        sans-serif;
    font-size: 1.6rem;

    font-weight: 700;
    color: transparent;

    background: linear-gradient(160deg, var(--text-texas-blue));
    -webkit-background-clip: text;
    background-clip: text;
}

.name.scrolled {
    display: none;
    color: white;
}

.ctaButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link.scrolled {
    display: none;
    color: white;
}

.link.open {
    display: block;
}

.button:hover {
    background-color: #0284c7;
}

.arrow {
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .link {
        display: none;
    }

    .link.open {
        display: none;
    }

    .link.scrolled.open {
        display: block;
    }

    .nav {
        gap: 0.5rem;
        font-size: 1rem;
    }

    .bg {
    }

    .bg.active {
        width: 20%;
    }

    .bg.open.active {
        width: 80%;

        padding-right: 1rem;
    }

    .arrow {
        font-size: 1.7rem;
    }
}
