.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}


.title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-texas-blue);
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

