@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');


.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-texas-blue);
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.name {

    font-family: "Poppins", "Montserrat", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    font-weight: 700;
    font-size: 1.6rem;

    background: linear-gradient(160deg, var(--text-texas-blue));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

