
.container {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: -3rem;
    z-index: 11;
    transform: rotate(45deg);
}

.wrapper {
    display: inline-flex;
    align-items: center;
    z-index: 1000;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.red {
    background: var(--cl-primary);
    width: 200px;
    text-align: center;
}

.green {
    background: #34d399;
    width: 200px;
    text-align: center;
}

.text {
    font-size: 14px;
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
}


.skeleton {
    width: 100px;
    height: 32px;
    border-radius: 8px;
    background: linear-gradient(90deg, #ccc 25%, #eee 50%, #ccc 75%);
    background-size: 200% 100%;
    animation: loading 1.2s infinite;
}

@keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

@media (max-width: 700px) {
    .container {
        top: 1rem;
        right: -4rem;
    }

    .red {
        background: var(--cl-primary);
        width: 200px;
        text-align: center;
    }

    .text {
        font-size: 0.7rem;
    }
}
