.plateSearch {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.analyzeBtn {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, #3b82f6, #f59e0b);
    color: white;
    padding: 0.625rem 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s;
}
