.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999999;
}

.webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas {
    display: none;
    backdrop-filter: blur(4px);
}

/*.vinFrame {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 150px;*/
/*    height: 85%;*/
/*    transform: translate(-50%, -50%);*/
/*    animation: pulse 1.5s infinite;*/
/*    border: 3px solid var(--cl-fio);*/
/*    border-radius: 8px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: 5;*/
/*}*/

.vinLabel {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    top: -28px;
}

.closeButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    color: white;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0% {
        border-color: rgba(255, 255, 255, 0.3);
    }

    50% {
        border-color: rgba(255, 255, 255, 1);
    }

    100% {
        border-color: rgba(255, 255, 255, 0.3);
    }
}

.loading {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    z-index: 1100;
}